<div class="card mb-4">
  <div class="card-body">
    <form class="container">
     
      <div class="row mb-3">
        <div class="col-md-3">
          <label>Mês</label>
          <input type="number" [(ngModel)]="movimento.mes" name="mes" class="form-control" />
        </div>

        <div class="col-md-3">
          <label>Ano</label>
          <input type="number" [(ngModel)]="movimento.ano" name="ano" class="form-control" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-5">
          <label for="produto" class="form-label">Produto</label>
          <select id="produto" class="form-select" [(ngModel)]="movimento.produtoId" (change)="carregarCosifsPorProduto(movimento.produtoId)" name="produtoId">
            <option *ngFor="let p of produtos" [value]="p.id">{{ p.descricao }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="cosif" class="form-label">Cosif</label>
          <select id="cosif" class="form-select" [(ngModel)]="movimento.cosifId" name="cosifId">
            <option *ngFor="let c of cosifs" [value]="c.id">{{ c.id }} - {{ c.codigoClassificacao }}</option>
          </select>
        </div>

        <div class="col-md-3" style="padding-top:1%">
          <label>Valor</label>
          <input type="number" [(ngModel)]="movimento.valor" name="valor" class="form-control" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <label>Descrição</label>
          <textarea [(ngModel)]="movimento.descricao" name="descricao" class="form-control"></textarea>
        </div>
      </div>

      <!-- Botão alinhado à direita -->
      <div class="d-flex justify-content-end mt-5">
        <button class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
