.content {
  width: 75%;    
  height: 500px;        
  margin-left:60px;      
  padding-top: 70px;             
  background-color: #ffffff;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow:
    8px 8px 15px #eff2f5,
    -8px -8px 15px #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container{
   padding-left: 5%;
}

.card-body {
  padding: 2rem;
}

.card {
  max-width: 900px;
  margin: 0 auto; /* Centraliza */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
