.content {
    width: 1190px;    
    height: 500px;        
    margin-left:60px;      
    padding-top: 70px;             
    background-color: #ffffff;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow:
      8px 8px 15px #eff2f5,
      -8px -8px 15px #ffffff;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  